extends base

block content
    if user
        .row
           .col.mx-auto(align="center")
                h1 Your Devices (#{phones.length}):
                ul.list-unstyled
                    if (phones.length >0)
                        each phone, i in phones
                            li
                                
                                    div
                                        a( href="/phone/"+phone._id)
                                            | #{phone.manf}
                                            br
                                            | #{phone.model}
                    else 
                        li 
                            h4 No Devices linked to your account
    else
        h1 USER DOESNT EXIST


      
  
