extends base
block content

  .row( id="registerBox")
    .col-6.offset-3
      h1 Register
      form(method='POST', action='/users/register')
        #form-group
          label Name:
          input.form-control(name='name', type='text')
        #form-group
          label Email:
          input.form-control(name='email', type='text')
        #form-group
          label Password:
          input.form-control(name='password', type='password')     
        #form-group
          label Confirm Password:
          input.form-control(name='password2', type='password')    
        br     
        input.btn2.btn.btn-primary(type='submit',value='Register')    
  
