.alert-error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.alert-success_msg {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.navbar {
    background-color:#2a3744 !important;
}


/*Footer */
.footer-basic-centered{
	background-color: #2a3744;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
    width: 100%;
	text-align: center;
	font: normal 18px sans-serif;
	padding: 45px;
	margin-top: 80px;
}



.footer-basic-centered .footer-company-motto{
	color:  #8d9093;
	font-size: 24px;
	margin: 0;
}

.footer-basic-centered .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	margin: 0;
}

.footer-basic-centered .footer-links{
	list-style: none;
    font-weight: bold;
    font-size: 14px;
	color:  #ffffff;
	padding: 35px 0 23px;
	margin: 0;
}

.footer-basic-centered .footer-links a{
	display:inline-block;
	text-decoration: none;
	color: inherit;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 600px) {

	.footer-basic-centered{
		padding: 35px;
	}

	.footer-basic-centered .footer-company-motto{
		font-size: 18px;
	}

	.footer-basic-centered .footer-company-name{
		font-size: 12px;
	}

	.footer-basic-centered .footer-links{
		font-size: 14px;
		padding: 25px 0 20px;
	}

	.footer-basic-centered .footer-links a{
		line-height: 1.8;
	}
}


/* Buttons and inputs */


.btn2 {
    background-color:#000000;
    border-color:#000000;
}
.btn2:hover{
    background-color:#333333;
    border-color:#000000;
}

.btn2:active{
  background-color:#333333 !important;
  border-color:#000000 !important;

}
.btn2:focus 
{
    box-shadow: none !important;
}

input {
    border-color:#000000 !important;
}


input:focus {
    border-color:#00051a !important;
    box-shadow: none !important;
}



.postLink 
{
    font-weight :bold;
    color:#000000;
}
.postLink:link
{
    color:#000000;
}
.postLink:hover
{
    color:#000000;
}

/* MAP */
#map {
	height: 400px;  /* The height is 400 pixels */
	width: 100%;  /* The width is the width of the web page */
   }
/* Loader */
.loader {
	display:none;
    border: 10px solid #f3f3f3; /* Light grey */
    border-top: 10px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}